<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>aalt</key>
  <array>
    <string>slash</string>
    <string>A</string>
    <string>G</string>
    <string>O</string>
    <string>W</string>
    <string>d</string>
    <string>l</string>
    <string>o</string>
    <string>q</string>
    <string>t</string>
    <string>u</string>
    <string>w</string>
    <string>y</string>
    <string>periodcentered</string>
    <string>Scedilla</string>
    <string>scedilla</string>
    <string>uni0162</string>
    <string>uni0163</string>
    <string>uni0414</string>
    <string>uni041B</string>
    <string>uni0424</string>
    <string>uni0431</string>
    <string>uni0432</string>
    <string>uni0433</string>
    <string>uni0436</string>
    <string>uni0437</string>
    <string>uni043A</string>
    <string>uni0442</string>
    <string>uni044E</string>
    <string>uni0453</string>
    <string>uni0492</string>
    <string>uni0493</string>
    <string>uni0498</string>
    <string>uni0499</string>
    <string>zero.numr</string>
    <string>one.numr</string>
    <string>two.numr</string>
    <string>three.numr</string>
    <string>four.numr</string>
    <string>five.numr</string>
    <string>six.numr</string>
    <string>seven.numr</string>
    <string>eight.numr</string>
    <string>nine.numr</string>
    <string>brevecomb-cy</string>
  </array>
  <key>aalt2</key>
  <array>
    <string>fraction</string>
    <string>ordfeminine</string>
    <string>G.ss11</string>
    <string>ordmasculine</string>
    <string>W.ss09</string>
    <string>d.ss03</string>
    <string>l.ss05</string>
    <string>ordmasculine</string>
    <string>q.ss06</string>
    <string>t.ss07</string>
    <string>u.ss08</string>
    <string>w.ss09</string>
    <string>y.ss10</string>
    <string>periodcentered.loclCAT</string>
    <string>uni0218</string>
    <string>uni0219</string>
    <string>uni021A</string>
    <string>uni021B</string>
    <string>uni0414.loclBGR</string>
    <string>uni041B.loclBGR</string>
    <string>uni0424.loclBGR</string>
    <string>uni0431.loclSRB</string>
    <string>uni0432.loclBGR</string>
    <string>uni0433.loclSRB</string>
    <string>uni0436.loclBGR</string>
    <string>uni0437.loclBGR</string>
    <string>uni043A.loclBGR</string>
    <string>uni0442.loclBGR</string>
    <string>uni044E.loclBGR</string>
    <string>uni0453.loclMKD</string>
    <string>uni0492.loclBSH</string>
    <string>uni0493.loclBSH</string>
    <string>uni0498.loclBSH</string>
    <string>uni0499.loclBSH</string>
    <string>zero.dnom</string>
    <string>one.dnom</string>
    <string>two.dnom</string>
    <string>three.dnom</string>
    <string>four.dnom</string>
    <string>five.dnom</string>
    <string>six.dnom</string>
    <string>seven.dnom</string>
    <string>eight.dnom</string>
    <string>nine.dnom</string>
    <string>brevecomb-cy.case</string>
  </array>
  <key>ccmp</key>
  <array>
    <string>gravecomb</string>
    <string>acutecomb</string>
    <string>uni0302</string>
    <string>tildecomb</string>
    <string>uni0304</string>
    <string>uni0306</string>
    <string>uni0307</string>
    <string>uni0308</string>
    <string>uni030A</string>
    <string>uni030B</string>
    <string>uni030C</string>
    <string>uni0312</string>
    <string>hookabovecomb</string>
    <string>uni030F</string>
    <string>uni0311</string>
  </array>
  <key>ccmp2</key>
  <array>
    <string>Lslash</string>
    <string>Zcaron</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>Scaron</string>
    <string>OE</string>
    <string>Ydieresis</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Ccaron</string>
    <string>Cacute</string>
    <string>Zacute</string>
    <string>Dcaron</string>
    <string>Emacron</string>
    <string>Edotaccent</string>
    <string>Ecaron</string>
    <string>Eogonek</string>
    <string>Iogonek</string>
    <string>Imacron</string>
    <string>uni0136</string>
    <string>uni013B</string>
    <string>Lcaron</string>
    <string>Lacute</string>
    <string>uni0145</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>uni0156</string>
    <string>Sacute</string>
    <string>Tcaron</string>
    <string>Umacron</string>
    <string>Uring</string>
    <string>Uhungarumlaut</string>
    <string>Uogonek</string>
    <string>Zdotaccent</string>
    <string>uni0122</string>
    <string>Dcroat</string>
    <string>uni0410</string>
    <string>uni0411</string>
    <string>uni0412</string>
    <string>uni0413</string>
    <string>uni0414</string>
    <string>uni0415</string>
    <string>uni0416</string>
    <string>uni0417</string>
    <string>uni0418</string>
    <string>uni0419</string>
    <string>uni041A</string>
    <string>uni041B</string>
    <string>uni041C</string>
    <string>uni041D</string>
    <string>uni041E</string>
    <string>uni041F</string>
    <string>uni0420</string>
    <string>uni0421</string>
    <string>uni0422</string>
    <string>uni0423</string>
    <string>uni0424</string>
    <string>uni0425</string>
    <string>uni0426</string>
    <string>uni0427</string>
    <string>uni0428</string>
    <string>uni0429</string>
    <string>uni042A</string>
    <string>uni042B</string>
    <string>uni042C</string>
    <string>uni042D</string>
    <string>uni042E</string>
    <string>uni042F</string>
    <string>uni0490</string>
    <string>uni0406</string>
    <string>uni0402</string>
    <string>uni0403</string>
    <string>uni0408</string>
    <string>uni0404</string>
    <string>uni0407</string>
    <string>uni0409</string>
    <string>uni040A</string>
    <string>uni0405</string>
    <string>uni040B</string>
    <string>uni040C</string>
    <string>uni040E</string>
    <string>uni040F</string>
    <string>uni0401</string>
    <string>Abreve</string>
    <string>uni0218</string>
    <string>uni021A</string>
    <string>Gbreve</string>
    <string>Idotaccent</string>
    <string>Scedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>Ebreve</string>
    <string>Gcircumflex</string>
    <string>Gdotaccent</string>
    <string>Hcircumflex</string>
    <string>Hbar</string>
    <string>Itilde</string>
    <string>Ibreve</string>
    <string>Jcircumflex</string>
    <string>Ldot</string>
    <string>Eng</string>
    <string>Obreve</string>
    <string>Scircumflex</string>
    <string>uni0162</string>
    <string>Tbar</string>
    <string>Utilde</string>
    <string>Ubreve</string>
    <string>Wcircumflex</string>
    <string>Ycircumflex</string>
    <string>Aringacute</string>
    <string>AEacute</string>
    <string>Oslashacute</string>
    <string>uni0400</string>
    <string>uni040D</string>
    <string>uni0462</string>
    <string>uni0472</string>
    <string>uni0474</string>
    <string>Wgrave</string>
    <string>Wacute</string>
    <string>Wdieresis</string>
    <string>Ygrave</string>
    <string>uni0492</string>
    <string>uni0494</string>
    <string>uni0496</string>
    <string>uni0498</string>
    <string>uni049A</string>
    <string>uni049C</string>
    <string>uni04A0</string>
    <string>uni04A2</string>
    <string>uni04A4</string>
    <string>uni04AA</string>
    <string>uni04AE</string>
    <string>uni04B0</string>
    <string>uni04B6</string>
    <string>uni04B8</string>
    <string>uni04BA</string>
    <string>uni04C0</string>
    <string>uni04CB</string>
    <string>uni04D0</string>
    <string>uni04D2</string>
    <string>uni04D4</string>
    <string>uni04D6</string>
    <string>uni04D8</string>
    <string>uni04DC</string>
    <string>uni04DE</string>
    <string>uni04E2</string>
    <string>uni04E4</string>
    <string>uni04E6</string>
    <string>uni04E8</string>
    <string>uni04EE</string>
    <string>uni04F0</string>
    <string>uni04F2</string>
    <string>uni04F4</string>
    <string>uni04F6</string>
    <string>uni04F8</string>
    <string>uni051C</string>
    <string>Ohorn</string>
    <string>Uhorn</string>
    <string>Gcaron</string>
    <string>uni01EA</string>
    <string>uni0200</string>
    <string>uni0202</string>
    <string>uni0204</string>
    <string>uni0206</string>
    <string>uni0208</string>
    <string>uni020A</string>
    <string>uni020C</string>
    <string>uni020E</string>
    <string>uni0210</string>
    <string>uni0212</string>
    <string>uni0214</string>
    <string>uni0216</string>
    <string>uni022A</string>
    <string>uni022C</string>
    <string>uni0230</string>
    <string>uni0232</string>
    <string>uni04C1</string>
    <string>uni1E08</string>
    <string>uni1E0C</string>
    <string>uni1E0E</string>
    <string>uni1E14</string>
    <string>uni1E16</string>
    <string>uni1E1C</string>
    <string>uni1E20</string>
    <string>uni1E24</string>
    <string>uni1E2A</string>
    <string>uni1E2E</string>
    <string>uni1E36</string>
    <string>uni1E3A</string>
    <string>uni1E42</string>
    <string>uni1E44</string>
    <string>uni1E46</string>
    <string>uni1E48</string>
    <string>uni1E4C</string>
    <string>uni1E4E</string>
    <string>uni1E50</string>
    <string>uni1E52</string>
    <string>uni1E5A</string>
    <string>uni1E5E</string>
    <string>uni1E60</string>
    <string>uni1E62</string>
    <string>uni1E64</string>
    <string>uni1E66</string>
    <string>uni1E68</string>
    <string>uni1E6C</string>
    <string>uni1E6E</string>
    <string>uni1E78</string>
    <string>uni1E7A</string>
    <string>uni1E8E</string>
    <string>uni1E92</string>
    <string>uni1EA0</string>
    <string>uni1EA2</string>
    <string>uni1EA4</string>
    <string>uni1EA6</string>
    <string>uni1EA8</string>
    <string>uni1EAA</string>
    <string>uni1EAC</string>
    <string>uni1EAE</string>
    <string>uni1EB0</string>
    <string>uni1EB2</string>
    <string>uni1EB4</string>
    <string>uni1EB6</string>
    <string>uni1EB8</string>
    <string>uni1EBA</string>
    <string>uni1EBC</string>
    <string>uni1EBE</string>
    <string>uni1EC0</string>
    <string>uni1EC2</string>
    <string>uni1EC4</string>
    <string>uni1EC6</string>
    <string>uni1EC8</string>
    <string>uni1ECA</string>
    <string>uni1ECC</string>
    <string>uni1ECE</string>
    <string>uni1ED0</string>
    <string>uni1ED2</string>
    <string>uni1ED4</string>
    <string>uni1ED6</string>
    <string>uni1ED8</string>
    <string>uni1EDA</string>
    <string>uni1EDC</string>
    <string>uni1EDE</string>
    <string>uni1EE0</string>
    <string>uni1EE2</string>
    <string>uni1EE4</string>
    <string>uni1EE6</string>
    <string>uni1EE8</string>
    <string>uni1EEA</string>
    <string>uni1EEC</string>
    <string>uni1EEE</string>
    <string>uni1EF0</string>
    <string>uni1EF4</string>
    <string>uni1EF6</string>
    <string>uni1EF8</string>
    <string>Germandbls</string>
    <string>G.ss11</string>
    <string>W.ss09</string>
    <string>uni018F</string>
    <string>uni046A</string>
    <string>uni051A</string>
    <string>uni0524</string>
    <string>uni0414.loclBGR</string>
    <string>uni041B.loclBGR</string>
    <string>uni0424.loclBGR</string>
    <string>uni0492.loclBSH</string>
    <string>uni0498.loclBSH</string>
    <string>uni04AA.loclBSH</string>
    <string>uni04AA.loclCHU</string>
  </array>
  <key>dnom_frac</key>
  <array>
    <string>zero.dnom</string>
    <string>one.dnom</string>
    <string>two.dnom</string>
    <string>three.dnom</string>
    <string>four.dnom</string>
    <string>five.dnom</string>
    <string>six.dnom</string>
    <string>seven.dnom</string>
    <string>eight.dnom</string>
    <string>nine.dnom</string>
  </array>
  <key>dnom_numr_ordn_pnum_sinf_subs_sups_tnum</key>
  <array>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
  </array>
  <key>frac</key>
  <array>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
  </array>
  <key>frac2</key>
  <array>
    <string>fraction</string>
    <string>zero.numr</string>
    <string>one.numr</string>
    <string>two.numr</string>
    <string>three.numr</string>
    <string>four.numr</string>
    <string>five.numr</string>
    <string>six.numr</string>
    <string>seven.numr</string>
    <string>eight.numr</string>
    <string>nine.numr</string>
  </array>
  <key>frac_numr</key>
  <array>
    <string>zero.numr</string>
    <string>one.numr</string>
    <string>two.numr</string>
    <string>three.numr</string>
    <string>four.numr</string>
    <string>five.numr</string>
    <string>six.numr</string>
    <string>seven.numr</string>
    <string>eight.numr</string>
    <string>nine.numr</string>
  </array>
  <key>locl</key>
  <array>
    <string>uni0414</string>
    <string>uni041B</string>
    <string>uni0424</string>
    <string>uni0432</string>
    <string>uni0434</string>
    <string>uni0436</string>
    <string>uni0437</string>
    <string>uni043A</string>
    <string>uni043F</string>
    <string>uni0442</string>
    <string>uni044E</string>
  </array>
  <key>locl2</key>
  <array>
    <string>uni0414.loclBGR</string>
    <string>uni041B.loclBGR</string>
    <string>uni0424.loclBGR</string>
    <string>uni0432.loclBGR</string>
    <string>uni0434.loclBGR</string>
    <string>uni0436.loclBGR</string>
    <string>uni0437.loclBGR</string>
    <string>uni043A.loclBGR</string>
    <string>uni043F.loclBGR</string>
    <string>uni0442.loclBGR</string>
    <string>uni044E.loclBGR</string>
  </array>
  <key>pnum_tnum</key>
  <array>
    <string>zero.tnum</string>
    <string>one.tnum</string>
    <string>two.tnum</string>
    <string>three.tnum</string>
    <string>four.tnum</string>
    <string>five.tnum</string>
    <string>six.tnum</string>
    <string>seven.tnum</string>
    <string>eight.tnum</string>
    <string>nine.tnum</string>
  </array>
  <key>public.kern1.A</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Aringacute</string>
    <string>Atilde</string>
    <string>uni0410</string>
    <string>uni04D0</string>
    <string>uni04D2</string>
  </array>
  <key>public.kern1.C</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>uni0404</string>
    <string>uni0421</string>
    <string>uni04AA</string>
    <string>uni04AA.loclBSH</string>
    <string>uni04AA.loclCHU</string>
  </array>
  <key>public.kern1.D</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Eth</string>
    <string>uni1E0C</string>
  </array>
  <key>public.kern1.E</key>
  <array>
    <string>AE</string>
    <string>AEacute</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>OE</string>
    <string>uni0400</string>
    <string>uni0401</string>
    <string>uni0415</string>
    <string>uni04D4</string>
    <string>uni04D6</string>
    <string>uni1EB8</string>
    <string>uni1EBC</string>
  </array>
  <key>public.kern1.G</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gdotaccent</string>
    <string>uni0122</string>
  </array>
  <key>public.kern1.H</key>
  <array>
    <string>Eng</string>
    <string>H</string>
    <string>Hbar</string>
    <string>Hcircumflex</string>
    <string>I</string>
    <string>Iacute</string>
    <string>Ibreve</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Itilde</string>
    <string>M</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ntilde</string>
    <string>uni0145</string>
    <string>uni0406</string>
    <string>uni0407</string>
    <string>uni041C</string>
    <string>uni041D</string>
    <string>uni04A2</string>
    <string>uni04C0</string>
    <string>uni1E24</string>
    <string>uni1E44</string>
    <string>uni1ECA</string>
  </array>
  <key>public.kern1.J</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>uni0408</string>
  </array>
  <key>public.kern1.K</key>
  <array>
    <string>K</string>
    <string>uni0136</string>
    <string>uni040C</string>
    <string>uni0416</string>
    <string>uni041A</string>
    <string>uni049C</string>
    <string>uni04A0</string>
    <string>uni04C1</string>
    <string>uni04DC</string>
  </array>
  <key>public.kern1.L</key>
  <array>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Ldot</string>
    <string>Lslash</string>
    <string>uni013B</string>
  </array>
  <key>public.kern1.O</key>
  <array>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>Otilde</string>
    <string>Q</string>
    <string>uni018F</string>
    <string>uni041E</string>
    <string>uni0424</string>
    <string>uni0424.loclBGR</string>
    <string>uni042D</string>
    <string>uni042E</string>
    <string>uni04D8</string>
    <string>uni04E6</string>
    <string>uni04E8</string>
    <string>uni051A</string>
    <string>uni1ECC</string>
  </array>
  <key>public.kern1.R</key>
  <array>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>uni0156</string>
    <string>uni1E5A</string>
  </array>
  <key>public.kern1.S</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>uni0218</string>
    <string>uni0405</string>
    <string>uni1E62</string>
  </array>
  <key>public.kern1.T</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>uni0162</string>
    <string>uni021A</string>
    <string>uni0422</string>
    <string>uni1E6C</string>
  </array>
  <key>public.kern1.U</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
    <string>uni1EE4</string>
  </array>
  <key>public.kern1.W</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
    <string>uni051C</string>
  </array>
  <key>public.kern1.Y</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
    <string>uni04AE</string>
    <string>uni04B0</string>
    <string>uni1EF8</string>
  </array>
  <key>public.kern1.Z</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>uni1E92</string>
  </array>
  <key>public.kern1.a</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>aring</string>
    <string>aringacute</string>
    <string>atilde</string>
    <string>uni0430</string>
    <string>uni04D1</string>
    <string>uni04D3</string>
  </array>
  <key>public.kern1.b</key>
  <array>
    <string>b</string>
    <string>p</string>
    <string>thorn</string>
    <string>uni0440</string>
  </array>
  <key>public.kern1.c</key>
  <array>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>uni0441</string>
    <string>uni0454</string>
    <string>uni04AB</string>
    <string>uni04AB.loclBSH</string>
    <string>uni04AB.loclCHU</string>
  </array>
  <key>public.kern1.colon</key>
  <array>
    <string>colon</string>
    <string>semicolon</string>
  </array>
  <key>public.kern1.comma</key>
  <array>
    <string>comma</string>
    <string>period</string>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern1.d</key>
  <array>
    <string>d</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>uni1E0D</string>
  </array>
  <key>public.kern1.e</key>
  <array>
    <string>ae</string>
    <string>aeacute</string>
    <string>e</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>oe</string>
    <string>uni0435</string>
    <string>uni0450</string>
    <string>uni0451</string>
    <string>uni04D5</string>
    <string>uni04D7</string>
    <string>uni1EB9</string>
    <string>uni1EBD</string>
  </array>
  <key>public.kern1.f</key>
  <array>
    <string>f</string>
    <string>f_f</string>
  </array>
  <key>public.kern1.g</key>
  <array>
    <string>a.ss01</string>
    <string>g</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gdotaccent</string>
    <string>q</string>
    <string>q.ss06</string>
    <string>u.ss08</string>
    <string>uni0123</string>
    <string>uni0434.loclBGR</string>
    <string>uni051B</string>
  </array>
  <key>public.kern1.guillemotleft</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern1.guillemotright</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern1.h</key>
  <array>
    <string>h</string>
    <string>hbar</string>
    <string>hcircumflex</string>
    <string>uni0452</string>
    <string>uni045B</string>
    <string>uni04BB</string>
    <string>uni1E25</string>
  </array>
  <key>public.kern1.hyphen</key>
  <array>
    <string>emdash</string>
    <string>endash</string>
    <string>hyphen</string>
    <string>uni00AD</string>
  </array>
  <key>public.kern1.i</key>
  <array>
    <string>dotlessi</string>
    <string>f_f_i</string>
    <string>fi</string>
    <string>i</string>
    <string>iacute</string>
    <string>ibreve</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>imacron</string>
    <string>iogonek</string>
    <string>itilde</string>
    <string>j</string>
    <string>j.ss04</string>
    <string>jcircumflex</string>
    <string>uni0237</string>
    <string>uni0456</string>
    <string>uni0457</string>
    <string>uni0458</string>
    <string>uni04CF</string>
    <string>uni1ECB</string>
  </array>
  <key>public.kern1.k</key>
  <array>
    <string>k</string>
    <string>uni0137</string>
    <string>uni043A</string>
    <string>uni043A.loclBGR</string>
    <string>uni045C</string>
    <string>uni049D</string>
    <string>uni04A1</string>
  </array>
  <key>public.kern1.l</key>
  <array>
    <string>f_f_l</string>
    <string>fl</string>
    <string>l</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>lslash</string>
    <string>uni013C</string>
  </array>
  <key>public.kern1.m</key>
  <array>
    <string>eng</string>
    <string>m</string>
    <string>n</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ntilde</string>
    <string>uni0146</string>
    <string>uni043D</string>
    <string>uni043F.loclBGR</string>
    <string>uni0442.loclBGR</string>
    <string>uni04A3</string>
    <string>uni1E45</string>
  </array>
  <key>public.kern1.o</key>
  <array>
    <string>o</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>oslash</string>
    <string>oslashacute</string>
    <string>otilde</string>
    <string>uni0259</string>
    <string>uni0431</string>
    <string>uni043E</string>
    <string>uni0444</string>
    <string>uni044D</string>
    <string>uni044E</string>
    <string>uni044E.loclBGR</string>
    <string>uni04D9</string>
    <string>uni04E7</string>
    <string>uni04E9</string>
    <string>uni1ECD</string>
  </array>
  <key>public.kern1.quotedbl</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern1.quoteleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern1.quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern1.r</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>uni0157</string>
    <string>uni1E5B</string>
  </array>
  <key>public.kern1.s</key>
  <array>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>uni0219</string>
    <string>uni0455</string>
    <string>uni1E63</string>
  </array>
  <key>public.kern1.t</key>
  <array>
    <string>c_t</string>
    <string>s_t</string>
    <string>t</string>
    <string>tbar</string>
    <string>tcaron</string>
    <string>uni0163</string>
    <string>uni021B</string>
    <string>uni1E6D</string>
  </array>
  <key>public.kern1.u</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uni0438</string>
    <string>uni0439</string>
    <string>uni043C</string>
    <string>uni043F</string>
    <string>uni0447</string>
    <string>uni0448</string>
    <string>uni044B</string>
    <string>uni044F</string>
    <string>uni045D</string>
    <string>uni045F</string>
    <string>uni04B7</string>
    <string>uni04B9</string>
    <string>uni04CC</string>
    <string>uni04E3</string>
    <string>uni04E5</string>
    <string>uni04F5</string>
    <string>uni04F9</string>
    <string>uni0525</string>
    <string>uni1EE5</string>
    <string>uogonek</string>
    <string>uring</string>
    <string>utilde</string>
  </array>
  <key>public.kern1.w</key>
  <array>
    <string>uni051D</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
  </array>
  <key>public.kern1.y</key>
  <array>
    <string>uni0443</string>
    <string>uni045E</string>
    <string>uni04EF</string>
    <string>uni04F1</string>
    <string>uni04F3</string>
    <string>uni1EF9</string>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>ygrave</string>
  </array>
  <key>public.kern1.z</key>
  <array>
    <string>uni1E93</string>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
  </array>
  <key>public.kern2.A2</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Aringacute</string>
    <string>Atilde</string>
    <string>uni0410</string>
    <string>uni04D0</string>
    <string>uni04D2</string>
  </array>
  <key>public.kern2.AE</key>
  <array>
    <string>AE</string>
    <string>AEacute</string>
    <string>uni04D4</string>
  </array>
  <key>public.kern2.B</key>
  <array>
    <string>B</string>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eng</string>
    <string>Eogonek</string>
    <string>Eth</string>
    <string>F</string>
    <string>H</string>
    <string>Hbar</string>
    <string>Hcircumflex</string>
    <string>I</string>
    <string>Iacute</string>
    <string>Ibreve</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Itilde</string>
    <string>K</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lslash</string>
    <string>M</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ntilde</string>
    <string>P</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Thorn</string>
    <string>uni0136</string>
    <string>uni013B</string>
    <string>uni0145</string>
    <string>uni0156</string>
    <string>uni0400</string>
    <string>uni0401</string>
    <string>uni0406</string>
    <string>uni0407</string>
    <string>uni0412</string>
    <string>uni0415</string>
    <string>uni041C</string>
    <string>uni041D</string>
    <string>uni0420</string>
    <string>uni0492.loclBSH</string>
    <string>uni04A2</string>
    <string>uni04C0</string>
    <string>uni04D6</string>
    <string>uni1E0C</string>
    <string>uni1E24</string>
    <string>uni1E44</string>
    <string>uni1E5A</string>
    <string>uni1EB8</string>
    <string>uni1EBC</string>
    <string>uni1ECA</string>
  </array>
  <key>public.kern2.C2</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>G</string>
    <string>G.ss11</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gdotaccent</string>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>Otilde</string>
    <string>Q</string>
    <string>uni0122</string>
    <string>uni0404</string>
    <string>uni041E</string>
    <string>uni0421</string>
    <string>uni0424</string>
    <string>uni0424.loclBGR</string>
    <string>uni04AA</string>
    <string>uni04AA.loclBSH</string>
    <string>uni04AA.loclCHU</string>
    <string>uni04E6</string>
    <string>uni04E8</string>
    <string>uni051A</string>
    <string>uni1ECC</string>
  </array>
  <key>public.kern2.J2</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>uni0408</string>
  </array>
  <key>public.kern2.S2</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>uni0218</string>
    <string>uni0405</string>
    <string>uni1E62</string>
  </array>
  <key>public.kern2.T2</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>uni0162</string>
    <string>uni021A</string>
    <string>uni0402</string>
    <string>uni040B</string>
    <string>uni0422</string>
    <string>uni042A</string>
    <string>uni04A0</string>
    <string>uni1E6C</string>
  </array>
  <key>public.kern2.U2</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
    <string>uni1EE4</string>
  </array>
  <key>public.kern2.W2</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
    <string>uni051C</string>
  </array>
  <key>public.kern2.Y2</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
    <string>uni04AE</string>
    <string>uni04B0</string>
    <string>uni1EF8</string>
  </array>
  <key>public.kern2.Z2</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>uni1E92</string>
  </array>
  <key>public.kern2.a2</key>
  <array>
    <string>a</string>
    <string>a.ss01</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>aring</string>
    <string>aringacute</string>
    <string>atilde</string>
    <string>d</string>
    <string>d.ss03</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>g</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gdotaccent</string>
    <string>q</string>
    <string>q.ss06</string>
    <string>uni0123</string>
    <string>uni0430</string>
    <string>uni04D1</string>
    <string>uni04D3</string>
    <string>uni04D5</string>
    <string>uni1E0D</string>
  </array>
  <key>public.kern2.ae</key>
  <array>
    <string>a.ss02</string>
    <string>ae</string>
    <string>aeacute</string>
  </array>
  <key>public.kern2.b2</key>
  <array>
    <string>b</string>
    <string>germandbls</string>
    <string>h</string>
    <string>hbar</string>
    <string>hcircumflex</string>
    <string>k</string>
    <string>thorn</string>
    <string>uni0137</string>
    <string>uni0432.loclBGR</string>
    <string>uni043A.loclBGR</string>
    <string>uni044E.loclBGR</string>
    <string>uni0452</string>
    <string>uni045B</string>
    <string>uni04BB</string>
    <string>uni1E25</string>
  </array>
  <key>public.kern2.c2</key>
  <array>
    <string>c</string>
    <string>c_t</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>e</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>o</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>oslash</string>
    <string>oslashacute</string>
    <string>otilde</string>
    <string>uni0431.loclSRB</string>
    <string>uni0435</string>
    <string>uni043E</string>
    <string>uni0441</string>
    <string>uni0444</string>
    <string>uni0450</string>
    <string>uni0451</string>
    <string>uni0454</string>
    <string>uni04AB</string>
    <string>uni04AB.loclBSH</string>
    <string>uni04AB.loclCHU</string>
    <string>uni04D7</string>
    <string>uni04E7</string>
    <string>uni04E9</string>
    <string>uni1EB9</string>
    <string>uni1EBD</string>
    <string>uni1ECD</string>
  </array>
  <key>public.kern2.colon2</key>
  <array>
    <string>colon</string>
    <string>semicolon</string>
  </array>
  <key>public.kern2.comma2</key>
  <array>
    <string>comma</string>
    <string>ellipsis</string>
    <string>period</string>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern2.f2</key>
  <array>
    <string>f</string>
    <string>f_f</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>fi</string>
    <string>fl</string>
  </array>
  <key>public.kern2.guillemotleft2</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern2.guillemotright2</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern2.hyphen2</key>
  <array>
    <string>emdash</string>
    <string>endash</string>
    <string>hyphen</string>
    <string>uni00AD</string>
  </array>
  <key>public.kern2.i2</key>
  <array>
    <string>dotlessi</string>
    <string>i</string>
    <string>iacute</string>
    <string>ibreve</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>imacron</string>
    <string>iogonek</string>
    <string>itilde</string>
    <string>j</string>
    <string>j.ss04</string>
    <string>jcircumflex</string>
    <string>uni0237</string>
    <string>uni0456</string>
    <string>uni0457</string>
    <string>uni0458</string>
    <string>uni04CF</string>
    <string>uni1ECB</string>
  </array>
  <key>public.kern2.l2</key>
  <array>
    <string>l</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>ldot</string>
    <string>lslash</string>
    <string>uni013C</string>
  </array>
  <key>public.kern2.m2</key>
  <array>
    <string>eng</string>
    <string>m</string>
    <string>n</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ntilde</string>
    <string>p</string>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>uni0146</string>
    <string>uni0157</string>
    <string>uni0432</string>
    <string>uni0433</string>
    <string>uni0438</string>
    <string>uni0439</string>
    <string>uni043A</string>
    <string>uni043C</string>
    <string>uni043D</string>
    <string>uni043F</string>
    <string>uni043F.loclBGR</string>
    <string>uni0440</string>
    <string>uni0442.loclBGR</string>
    <string>uni0446</string>
    <string>uni0448</string>
    <string>uni0449</string>
    <string>uni044B</string>
    <string>uni044C</string>
    <string>uni044E</string>
    <string>uni0453</string>
    <string>uni045A</string>
    <string>uni045C</string>
    <string>uni045D</string>
    <string>uni045F</string>
    <string>uni0491</string>
    <string>uni0493</string>
    <string>uni0493.loclBSH</string>
    <string>uni0495</string>
    <string>uni049B</string>
    <string>uni049D</string>
    <string>uni04A3</string>
    <string>uni04A5</string>
    <string>uni04E3</string>
    <string>uni04E5</string>
    <string>uni04F7</string>
    <string>uni04F9</string>
    <string>uni0525</string>
    <string>uni1E45</string>
    <string>uni1E5B</string>
  </array>
  <key>public.kern2.quotedbl2</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern2.quoteleft2</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern2.quoteright2</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern2.s2</key>
  <array>
    <string>s</string>
    <string>s_t</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>uni0219</string>
    <string>uni0455</string>
    <string>uni1E63</string>
  </array>
  <key>public.kern2.t2</key>
  <array>
    <string>t</string>
    <string>tbar</string>
    <string>tcaron</string>
    <string>uni0163</string>
    <string>uni021B</string>
    <string>uni1E6D</string>
  </array>
  <key>public.kern2.u2</key>
  <array>
    <string>u</string>
    <string>u.ss08</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uni1EE5</string>
    <string>uogonek</string>
    <string>uring</string>
    <string>utilde</string>
  </array>
  <key>public.kern2.w2</key>
  <array>
    <string>uni051D</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
  </array>
  <key>public.kern2.y2</key>
  <array>
    <string>uni0443</string>
    <string>uni045E</string>
    <string>uni04EF</string>
    <string>uni04F1</string>
    <string>uni04F3</string>
    <string>uni1EF9</string>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>ygrave</string>
  </array>
  <key>public.kern2.z2</key>
  <array>
    <string>uni1E93</string>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
  </array>
  <key>sinf</key>
  <array>
    <string>zero.subs</string>
    <string>one.subs</string>
    <string>two.subs</string>
    <string>three.subs</string>
    <string>four.subs</string>
    <string>five.subs</string>
    <string>six.subs</string>
    <string>seven.subs</string>
    <string>eight.subs</string>
    <string>nine.subs</string>
  </array>
  <key>subs</key>
  <array>
    <string>uni2080</string>
    <string>uni2081</string>
    <string>uni2082</string>
    <string>uni2083</string>
    <string>uni2084</string>
    <string>uni2085</string>
    <string>uni2086</string>
    <string>uni2087</string>
    <string>uni2088</string>
    <string>uni2089</string>
  </array>
  <key>sups</key>
  <array>
    <string>uni2070</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>uni2074</string>
    <string>uni2075</string>
    <string>uni2076</string>
    <string>uni2077</string>
    <string>uni2078</string>
    <string>uni2079</string>
  </array>
</dict>
</plist>
