<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.typemytype.robofont.italicSlantOffset</key>
  <real>-64</real>
  <key>public.glyphOrder</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Abreveacute</string>
    <string>Abrevedotbelow</string>
    <string>Abrevegrave</string>
    <string>Abrevehookabove</string>
    <string>Abrevetilde</string>
    <string>Acircumflex</string>
    <string>Acircumflexacute</string>
    <string>Acircumflexdotbelow</string>
    <string>Acircumflexgrave</string>
    <string>Acircumflexhookabove</string>
    <string>Acircumflextilde</string>
    <string>Adblgrave</string>
    <string>Adieresis</string>
    <string>Adotbelow</string>
    <string>Agrave</string>
    <string>Ahookabove</string>
    <string>Ainvertedbreve</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Aringacute</string>
    <string>Atilde</string>
    <string>AE</string>
    <string>AEacute</string>
    <string>B</string>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccedillaacute</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>D</string>
    <string>Eth</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Ddotbelow</string>
    <string>Dlinebelow</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecedillabreve</string>
    <string>Ecircumflex</string>
    <string>Ecircumflexacute</string>
    <string>Ecircumflexdotbelow</string>
    <string>Ecircumflexgrave</string>
    <string>Ecircumflexhookabove</string>
    <string>Ecircumflextilde</string>
    <string>Edblgrave</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Edotbelow</string>
    <string>Egrave</string>
    <string>Ehookabove</string>
    <string>Einvertedbreve</string>
    <string>Emacron</string>
    <string>Emacronacute</string>
    <string>Emacrongrave</string>
    <string>Eogonek</string>
    <string>Etilde</string>
    <string>F</string>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcaron</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
    <string>Gmacron</string>
    <string>H</string>
    <string>Hbar</string>
    <string>Hbrevebelow</string>
    <string>Hcircumflex</string>
    <string>Hdotbelow</string>
    <string>I</string>
    <string>Iacute</string>
    <string>Ibreve</string>
    <string>Icircumflex</string>
    <string>Idblgrave</string>
    <string>Idieresis</string>
    <string>Idieresisacute</string>
    <string>Idotaccent</string>
    <string>Idotbelow</string>
    <string>Igrave</string>
    <string>Ihookabove</string>
    <string>Iinvertedbreve</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Itilde</string>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>K</string>
    <string>Kcommaaccent</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Ldot</string>
    <string>Ldotbelow</string>
    <string>Llinebelow</string>
    <string>Lslash</string>
    <string>M</string>
    <string>Mdotbelow</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ndotaccent</string>
    <string>Ndotbelow</string>
    <string>Eng</string>
    <string>Nlinebelow</string>
    <string>Ntilde</string>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Ocircumflexacute</string>
    <string>Ocircumflexdotbelow</string>
    <string>Ocircumflexgrave</string>
    <string>Ocircumflexhookabove</string>
    <string>Ocircumflextilde</string>
    <string>Odblgrave</string>
    <string>Odieresis</string>
    <string>Odieresismacron</string>
    <string>Odotaccentmacron</string>
    <string>Odotbelow</string>
    <string>Ograve</string>
    <string>Ohookabove</string>
    <string>Ohorn</string>
    <string>Ohornacute</string>
    <string>Ohorndotbelow</string>
    <string>Ohorngrave</string>
    <string>Ohornhookabove</string>
    <string>Ohorntilde</string>
    <string>Ohungarumlaut</string>
    <string>Oinvertedbreve</string>
    <string>Omacron</string>
    <string>Omacronacute</string>
    <string>Omacrongrave</string>
    <string>Oogonek</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>Otilde</string>
    <string>Otildeacute</string>
    <string>Otildedieresis</string>
    <string>Otildemacron</string>
    <string>OE</string>
    <string>P</string>
    <string>Thorn</string>
    <string>Q</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>Rdblgrave</string>
    <string>Rdotbelow</string>
    <string>Rinvertedbreve</string>
    <string>Rlinebelow</string>
    <string>S</string>
    <string>Sacute</string>
    <string>Sacutedotaccent</string>
    <string>Scaron</string>
    <string>Scarondotaccent</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
    <string>Sdotaccent</string>
    <string>Sdotbelow</string>
    <string>Sdotbelowdotaccent</string>
    <string>Germandbls</string>
    <string>Schwa</string>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
    <string>Tdotbelow</string>
    <string>Tlinebelow</string>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udblgrave</string>
    <string>Udieresis</string>
    <string>Udotbelow</string>
    <string>Ugrave</string>
    <string>Uhookabove</string>
    <string>Uhorn</string>
    <string>Uhornacute</string>
    <string>Uhorndotbelow</string>
    <string>Uhorngrave</string>
    <string>Uhornhookabove</string>
    <string>Uhorntilde</string>
    <string>Uhungarumlaut</string>
    <string>Uinvertedbreve</string>
    <string>Umacron</string>
    <string>Umacrondieresis</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
    <string>Utildeacute</string>
    <string>V</string>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
    <string>X</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ydotaccent</string>
    <string>Ydotbelow</string>
    <string>Ygrave</string>
    <string>Yhookabove</string>
    <string>Ymacron</string>
    <string>Ytilde</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>Zdotbelow</string>
    <string>W.ss09</string>
    <string>G.ss11</string>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>abreveacute</string>
    <string>abrevedotbelow</string>
    <string>abrevegrave</string>
    <string>abrevehookabove</string>
    <string>abrevetilde</string>
    <string>acircumflex</string>
    <string>acircumflexacute</string>
    <string>acircumflexdotbelow</string>
    <string>acircumflexgrave</string>
    <string>acircumflexhookabove</string>
    <string>acircumflextilde</string>
    <string>adblgrave</string>
    <string>adieresis</string>
    <string>adotbelow</string>
    <string>agrave</string>
    <string>ahookabove</string>
    <string>ainvertedbreve</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>aring</string>
    <string>aringacute</string>
    <string>atilde</string>
    <string>ae</string>
    <string>aeacute</string>
    <string>b</string>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccedillaacute</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>d</string>
    <string>eth</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>ddotbelow</string>
    <string>dlinebelow</string>
    <string>e</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecedillabreve</string>
    <string>ecircumflex</string>
    <string>ecircumflexacute</string>
    <string>ecircumflexdotbelow</string>
    <string>ecircumflexgrave</string>
    <string>ecircumflexhookabove</string>
    <string>ecircumflextilde</string>
    <string>edblgrave</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>edotbelow</string>
    <string>egrave</string>
    <string>ehookabove</string>
    <string>einvertedbreve</string>
    <string>emacron</string>
    <string>emacronacute</string>
    <string>emacrongrave</string>
    <string>eogonek</string>
    <string>etilde</string>
    <string>schwa</string>
    <string>f</string>
    <string>g</string>
    <string>gbreve</string>
    <string>gcaron</string>
    <string>gcircumflex</string>
    <string>gcommaaccent</string>
    <string>gdotaccent</string>
    <string>gmacron</string>
    <string>h</string>
    <string>hbar</string>
    <string>hbrevebelow</string>
    <string>hcircumflex</string>
    <string>hdotbelow</string>
    <string>i</string>
    <string>idotless</string>
    <string>iacute</string>
    <string>ibreve</string>
    <string>icircumflex</string>
    <string>idblgrave</string>
    <string>idieresis</string>
    <string>idieresisacute</string>
    <string>idotaccent</string>
    <string>idotbelow</string>
    <string>igrave</string>
    <string>ihookabove</string>
    <string>iinvertedbreve</string>
    <string>imacron</string>
    <string>iogonek</string>
    <string>itilde</string>
    <string>j</string>
    <string>jdotless</string>
    <string>jcircumflex</string>
    <string>k</string>
    <string>kcommaaccent</string>
    <string>kgreenlandic</string>
    <string>l</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>lcommaaccent</string>
    <string>ldot</string>
    <string>ldotbelow</string>
    <string>llinebelow</string>
    <string>lslash</string>
    <string>m</string>
    <string>mdotbelow</string>
    <string>n</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>ndotaccent</string>
    <string>ndotbelow</string>
    <string>eng</string>
    <string>nlinebelow</string>
    <string>ntilde</string>
    <string>o</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>ocircumflexacute</string>
    <string>ocircumflexdotbelow</string>
    <string>ocircumflexgrave</string>
    <string>ocircumflexhookabove</string>
    <string>ocircumflextilde</string>
    <string>odblgrave</string>
    <string>odieresis</string>
    <string>odieresismacron</string>
    <string>odotaccentmacron</string>
    <string>odotbelow</string>
    <string>ograve</string>
    <string>ohookabove</string>
    <string>ohorn</string>
    <string>ohornacute</string>
    <string>ohorndotbelow</string>
    <string>ohorngrave</string>
    <string>ohornhookabove</string>
    <string>ohorntilde</string>
    <string>ohungarumlaut</string>
    <string>oinvertedbreve</string>
    <string>omacron</string>
    <string>omacronacute</string>
    <string>omacrongrave</string>
    <string>oogonek</string>
    <string>oslash</string>
    <string>oslashacute</string>
    <string>otilde</string>
    <string>otildeacute</string>
    <string>otildedieresis</string>
    <string>otildemacron</string>
    <string>oe</string>
    <string>p</string>
    <string>thorn</string>
    <string>q</string>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
    <string>rdblgrave</string>
    <string>rdotbelow</string>
    <string>rinvertedbreve</string>
    <string>rlinebelow</string>
    <string>s</string>
    <string>sacute</string>
    <string>sacutedotaccent</string>
    <string>scaron</string>
    <string>scarondotaccent</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
    <string>sdotaccent</string>
    <string>sdotbelow</string>
    <string>sdotbelowdotaccent</string>
    <string>germandbls</string>
    <string>t</string>
    <string>tbar</string>
    <string>tcaron</string>
    <string>tcedilla</string>
    <string>tcommaaccent</string>
    <string>tdieresis</string>
    <string>tdotbelow</string>
    <string>tlinebelow</string>
    <string>u</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udblgrave</string>
    <string>udieresis</string>
    <string>udotbelow</string>
    <string>ugrave</string>
    <string>uhookabove</string>
    <string>uhorn</string>
    <string>uhornacute</string>
    <string>uhorndotbelow</string>
    <string>uhorngrave</string>
    <string>uhornhookabove</string>
    <string>uhorntilde</string>
    <string>uhungarumlaut</string>
    <string>uinvertedbreve</string>
    <string>umacron</string>
    <string>umacrondieresis</string>
    <string>uogonek</string>
    <string>uring</string>
    <string>utilde</string>
    <string>utildeacute</string>
    <string>v</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
    <string>x</string>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>ydotaccent</string>
    <string>ydotbelow</string>
    <string>ygrave</string>
    <string>yhookabove</string>
    <string>ymacron</string>
    <string>ytilde</string>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>zdotbelow</string>
    <string>a.ss01</string>
    <string>a.ss02</string>
    <string>d.ss03</string>
    <string>j.ss04</string>
    <string>l.ss05</string>
    <string>q.ss06</string>
    <string>t.ss07</string>
    <string>u.ss08</string>
    <string>w.ss09</string>
    <string>y.ss10</string>
    <string>c_t</string>
    <string>f_f</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>fi</string>
    <string>fl</string>
    <string>s_t</string>
    <string>a.sc</string>
    <string>b.sc</string>
    <string>c.sc</string>
    <string>d.sc</string>
    <string>e.sc</string>
    <string>f.sc</string>
    <string>g.sc</string>
    <string>h.sc</string>
    <string>i.sc</string>
    <string>j.sc</string>
    <string>k.sc</string>
    <string>l.sc</string>
    <string>m.sc</string>
    <string>n.sc</string>
    <string>o.sc</string>
    <string>p.sc</string>
    <string>q.sc</string>
    <string>r.sc</string>
    <string>s.sc</string>
    <string>t.sc</string>
    <string>u.sc</string>
    <string>v.sc</string>
    <string>w.sc</string>
    <string>x.sc</string>
    <string>y.sc</string>
    <string>z.sc</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>A-cy</string>
    <string>Be-cy</string>
    <string>Ve-cy</string>
    <string>Ge-cy</string>
    <string>Gje-cy</string>
    <string>Gheupturn-cy</string>
    <string>De-cy</string>
    <string>Ie-cy</string>
    <string>Iegrave-cy</string>
    <string>Io-cy</string>
    <string>Zhe-cy</string>
    <string>Ze-cy</string>
    <string>Ii-cy</string>
    <string>Iishort-cy</string>
    <string>Iigrave-cy</string>
    <string>Ka-cy</string>
    <string>Kje-cy</string>
    <string>El-cy</string>
    <string>Em-cy</string>
    <string>En-cy</string>
    <string>O-cy</string>
    <string>Pe-cy</string>
    <string>Er-cy</string>
    <string>Es-cy</string>
    <string>Te-cy</string>
    <string>U-cy</string>
    <string>Ushort-cy</string>
    <string>Ef-cy</string>
    <string>Ha-cy</string>
    <string>Che-cy</string>
    <string>Tse-cy</string>
    <string>Sha-cy</string>
    <string>Shcha-cy</string>
    <string>Dzhe-cy</string>
    <string>Softsign-cy</string>
    <string>Hardsign-cy</string>
    <string>Yeru-cy</string>
    <string>Lje-cy</string>
    <string>Nje-cy</string>
    <string>Dze-cy</string>
    <string>E-cy</string>
    <string>Ereversed-cy</string>
    <string>I-cy</string>
    <string>Yi-cy</string>
    <string>Je-cy</string>
    <string>Tshe-cy</string>
    <string>Iu-cy</string>
    <string>Ia-cy</string>
    <string>Dje-cy</string>
    <string>Yat-cy</string>
    <string>Yusbig-cy</string>
    <string>Fita-cy</string>
    <string>Izhitsa-cy</string>
    <string>Ghestroke-cy</string>
    <string>Ghemiddlehook-cy</string>
    <string>Zhedescender-cy</string>
    <string>Zedescender-cy</string>
    <string>Kadescender-cy</string>
    <string>Kaverticalstroke-cy</string>
    <string>Kabashkir-cy</string>
    <string>Endescender-cy</string>
    <string>Enghe-cy</string>
    <string>Pedescender-cy</string>
    <string>Esdescender-cy</string>
    <string>Ustrait-cy</string>
    <string>Ustraitstroke-cy</string>
    <string>Chedescender-cy</string>
    <string>Cheverticalstroke-cy</string>
    <string>Shha-cy</string>
    <string>Palochka-cy</string>
    <string>Zhebreve-cy</string>
    <string>Chekhakassian-cy</string>
    <string>Abreve-cy</string>
    <string>Adieresis-cy</string>
    <string>Aie-cy</string>
    <string>Iebreve-cy</string>
    <string>Schwa-cy</string>
    <string>Zhedieresis-cy</string>
    <string>Zedieresis-cy</string>
    <string>Imacron-cy</string>
    <string>Idieresis-cy</string>
    <string>Odieresis-cy</string>
    <string>Obarred-cy</string>
    <string>Umacron-cy</string>
    <string>Udieresis-cy</string>
    <string>Uhungarumlaut-cy</string>
    <string>Chedieresis-cy</string>
    <string>Gedescender-cy</string>
    <string>Yerudieresis-cy</string>
    <string>We-cy</string>
    <string>De-cy.loclBGR</string>
    <string>El-cy.loclBGR</string>
    <string>Ef-cy.loclBGR</string>
    <string>Ghestroke-cy.loclBSH</string>
    <string>Zedescender-cy.loclBSH</string>
    <string>Esdescender-cy.loclBSH</string>
    <string>Esdescender-cy.loclCHU</string>
    <string>a-cy</string>
    <string>be-cy</string>
    <string>ve-cy</string>
    <string>ge-cy</string>
    <string>gje-cy</string>
    <string>gheupturn-cy</string>
    <string>de-cy</string>
    <string>ie-cy</string>
    <string>iegrave-cy</string>
    <string>io-cy</string>
    <string>zhe-cy</string>
    <string>ze-cy</string>
    <string>ii-cy</string>
    <string>iishort-cy</string>
    <string>iigrave-cy</string>
    <string>ka-cy</string>
    <string>kje-cy</string>
    <string>el-cy</string>
    <string>em-cy</string>
    <string>en-cy</string>
    <string>o-cy</string>
    <string>pe-cy</string>
    <string>er-cy</string>
    <string>es-cy</string>
    <string>te-cy</string>
    <string>u-cy</string>
    <string>ushort-cy</string>
    <string>ef-cy</string>
    <string>ha-cy</string>
    <string>che-cy</string>
    <string>tse-cy</string>
    <string>sha-cy</string>
    <string>shcha-cy</string>
    <string>dzhe-cy</string>
    <string>softsign-cy</string>
    <string>hardsign-cy</string>
    <string>yeru-cy</string>
    <string>lje-cy</string>
    <string>nje-cy</string>
    <string>dze-cy</string>
    <string>e-cy</string>
    <string>ereversed-cy</string>
    <string>i-cy</string>
    <string>yi-cy</string>
    <string>je-cy</string>
    <string>tshe-cy</string>
    <string>iu-cy</string>
    <string>ia-cy</string>
    <string>dje-cy</string>
    <string>yat-cy</string>
    <string>yusbig-cy</string>
    <string>fita-cy</string>
    <string>izhitsa-cy</string>
    <string>ghestroke-cy</string>
    <string>ghemiddlehook-cy</string>
    <string>zhedescender-cy</string>
    <string>zedescender-cy</string>
    <string>kadescender-cy</string>
    <string>kaverticalstroke-cy</string>
    <string>kabashkir-cy</string>
    <string>endescender-cy</string>
    <string>enghe-cy</string>
    <string>pedescender-cy</string>
    <string>esdescender-cy</string>
    <string>ustrait-cy</string>
    <string>ustraitstroke-cy</string>
    <string>chedescender-cy</string>
    <string>cheverticalstroke-cy</string>
    <string>shha-cy</string>
    <string>palochka-cy</string>
    <string>zhebreve-cy</string>
    <string>chekhakassian-cy</string>
    <string>abreve-cy</string>
    <string>adieresis-cy</string>
    <string>aie-cy</string>
    <string>iebreve-cy</string>
    <string>schwa-cy</string>
    <string>zhedieresis-cy</string>
    <string>zedieresis-cy</string>
    <string>imacron-cy</string>
    <string>idieresis-cy</string>
    <string>odieresis-cy</string>
    <string>obarred-cy</string>
    <string>umacron-cy</string>
    <string>udieresis-cy</string>
    <string>uhungarumlaut-cy</string>
    <string>chedieresis-cy</string>
    <string>gedescender-cy</string>
    <string>yerudieresis-cy</string>
    <string>qa-cy</string>
    <string>we-cy</string>
    <string>ve-cy.loclBGR</string>
    <string>de-cy.loclBGR</string>
    <string>zhe-cy.loclBGR</string>
    <string>ze-cy.loclBGR</string>
    <string>ka-cy.loclBGR</string>
    <string>pe-cy.loclBGR</string>
    <string>te-cy.loclBGR</string>
    <string>iu-cy.loclBGR</string>
    <string>ghestroke-cy.loclBSH</string>
    <string>zedescender-cy.loclBSH</string>
    <string>esdescender-cy.loclBSH</string>
    <string>esdescender-cy.loclCHU</string>
    <string>gje-cy.loclMKD</string>
    <string>be-cy.loclSRB</string>
    <string>ge-cy.loclSRB</string>
    <string>de-cy.loclSRB</string>
    <string>pe-cy.loclSRB</string>
    <string>pi</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>zero.tnum</string>
    <string>one.tnum</string>
    <string>two.tnum</string>
    <string>three.tnum</string>
    <string>four.tnum</string>
    <string>five.tnum</string>
    <string>six.tnum</string>
    <string>seven.tnum</string>
    <string>eight.tnum</string>
    <string>nine.tnum</string>
    <string>zero.subs</string>
    <string>one.subs</string>
    <string>two.subs</string>
    <string>zeroinferior</string>
    <string>oneinferior</string>
    <string>twoinferior</string>
    <string>threeinferior</string>
    <string>fourinferior</string>
    <string>fiveinferior</string>
    <string>sixinferior</string>
    <string>seveninferior</string>
    <string>eightinferior</string>
    <string>nineinferior</string>
    <string>three.subs</string>
    <string>four.subs</string>
    <string>five.subs</string>
    <string>six.subs</string>
    <string>seven.subs</string>
    <string>eight.subs</string>
    <string>nine.subs</string>
    <string>zero.dnom</string>
    <string>one.dnom</string>
    <string>two.dnom</string>
    <string>three.dnom</string>
    <string>four.dnom</string>
    <string>five.dnom</string>
    <string>six.dnom</string>
    <string>seven.dnom</string>
    <string>eight.dnom</string>
    <string>nine.dnom</string>
    <string>zero.numr</string>
    <string>one.numr</string>
    <string>two.numr</string>
    <string>three.numr</string>
    <string>four.numr</string>
    <string>five.numr</string>
    <string>six.numr</string>
    <string>seven.numr</string>
    <string>eight.numr</string>
    <string>nine.numr</string>
    <string>zerosuperior</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>foursuperior</string>
    <string>fivesuperior</string>
    <string>sixsuperior</string>
    <string>sevensuperior</string>
    <string>eightsuperior</string>
    <string>ninesuperior</string>
    <string>fraction</string>
    <string>onehalf</string>
    <string>onethird</string>
    <string>twothirds</string>
    <string>onequarter</string>
    <string>threequarters</string>
    <string>oneeighth</string>
    <string>threeeighths</string>
    <string>fiveeighths</string>
    <string>seveneighths</string>
    <string>asterisk</string>
    <string>backslash</string>
    <string>periodcentered</string>
    <string>bullet</string>
    <string>colon</string>
    <string>comma</string>
    <string>ellipsis</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>numbersign</string>
    <string>period</string>
    <string>question</string>
    <string>questiondown</string>
    <string>quotedbl</string>
    <string>quotesingle</string>
    <string>semicolon</string>
    <string>slash</string>
    <string>underscore</string>
    <string>periodcentered.loclCAT</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>emdash</string>
    <string>endash</string>
    <string>figuredash</string>
    <string>horizontalbar</string>
    <string>hyphen</string>
    <string>hyphentwo</string>
    <string>softhyphen</string>
    <string>guillemetleft</string>
    <string>guillemetright</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>quotedblbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>emspace</string>
    <string>enspace</string>
    <string>figurespace</string>
    <string>hairspace</string>
    <string>punctuationspace</string>
    <string>space</string>
    <string>nbspace</string>
    <string>thinspace</string>
    <string>zerowidthspace</string>
    <string>CR</string>
    <string>.notdef</string>
    <string>cedi</string>
    <string>cent</string>
    <string>colonsign</string>
    <string>currency</string>
    <string>dollar</string>
    <string>dong</string>
    <string>euro</string>
    <string>florin</string>
    <string>franc</string>
    <string>guarani</string>
    <string>hryvnia</string>
    <string>kip</string>
    <string>lira</string>
    <string>liraTurkish</string>
    <string>manat</string>
    <string>naira</string>
    <string>peseta</string>
    <string>peso</string>
    <string>ruble</string>
    <string>rupeeIndian</string>
    <string>sterling</string>
    <string>tenge</string>
    <string>tugrik</string>
    <string>won</string>
    <string>yen</string>
    <string>bulletoperator</string>
    <string>divisionslash</string>
    <string>plus</string>
    <string>minus</string>
    <string>multiply</string>
    <string>divide</string>
    <string>equal</string>
    <string>notequal</string>
    <string>greater</string>
    <string>less</string>
    <string>greaterequal</string>
    <string>lessequal</string>
    <string>plusminus</string>
    <string>approxequal</string>
    <string>asciitilde</string>
    <string>logicalnot</string>
    <string>infinity</string>
    <string>emptyset</string>
    <string>integral</string>
    <string>Ohm</string>
    <string>increment</string>
    <string>product</string>
    <string>summation</string>
    <string>radical</string>
    <string>micro</string>
    <string>partialdiff</string>
    <string>percent</string>
    <string>perthousand</string>
    <string>lozenge</string>
    <string>at</string>
    <string>ampersand</string>
    <string>paragraph</string>
    <string>section</string>
    <string>copyright</string>
    <string>registered</string>
    <string>trademark</string>
    <string>degree</string>
    <string>bar</string>
    <string>brokenbar</string>
    <string>dagger</string>
    <string>literSign</string>
    <string>daggerdbl</string>
    <string>numero</string>
    <string>estimated</string>
    <string>asciicircum</string>
    <string>minute</string>
    <string>second</string>
    <string>dieresiscomb</string>
    <string>dotaccentcomb</string>
    <string>gravecomb</string>
    <string>acutecomb</string>
    <string>hungarumlautcomb</string>
    <string>caroncomb.alt</string>
    <string>circumflexcomb</string>
    <string>caroncomb</string>
    <string>brevecomb</string>
    <string>ringcomb</string>
    <string>tildecomb</string>
    <string>macroncomb</string>
    <string>hookabovecomb</string>
    <string>dblgravecomb</string>
    <string>breveinvertedcomb</string>
    <string>commaturnedabovecomb</string>
    <string>horncomb</string>
    <string>dotbelowcomb</string>
    <string>dieresisbelowcomb</string>
    <string>commaaccentcomb</string>
    <string>cedillacomb</string>
    <string>ogonekcomb</string>
    <string>brevebelowcomb</string>
    <string>macronbelowcomb</string>
    <string>strokeshortcomb</string>
    <string>apostrophemod</string>
    <string>commaturnedmod</string>
    <string>doubleprimemod</string>
    <string>firsttonechinese</string>
    <string>fourthtonechinese</string>
    <string>primemod</string>
    <string>ringhalfleft</string>
    <string>ringhalfright</string>
    <string>verticallinelowmod</string>
    <string>verticallinemod</string>
    <string>acute</string>
    <string>breve</string>
    <string>caron</string>
    <string>cedilla</string>
    <string>circumflex</string>
    <string>dieresis</string>
    <string>dotaccent</string>
    <string>grave</string>
    <string>hungarumlaut</string>
    <string>macron</string>
    <string>ogonek</string>
    <string>ring</string>
    <string>tilde</string>
    <string>brevecomb-cy</string>
    <string>brevecomb-cy.case</string>
    <string>brevecomb_acutecomb</string>
    <string>brevecomb_gravecomb</string>
    <string>brevecomb_hookabovecomb</string>
    <string>brevecomb_tildecomb</string>
    <string>circumflexcomb_acutecomb</string>
    <string>circumflexcomb_gravecomb</string>
    <string>circumflexcomb_hookabovecomb</string>
    <string>circumflexcomb_tildecomb</string>
    <string>NULL</string>
    <string>dotbelow</string>
    <string>Qa-cy</string>
  </array>
</dict>
</plist>
