<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>Becyr</key>
  <string>B_ecyr.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Checyr</key>
  <string>C_hecyr.glif</string>
  <key>Chekhakascyr</key>
  <string>C_hekhakascyr.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Dcroat</key>
  <string>D_croat.glif</string>
  <key>Decyr</key>
  <string>D_ecyr.glif</string>
  <key>Decyr.loclBGR</key>
  <string>D_ecyr.loclB_G_R_.glif</string>
  <key>Djecyr</key>
  <string>D_jecyr.glif</string>
  <key>Dzhecyr</key>
  <string>D_zhecyr.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Efcyr</key>
  <string>E_fcyr.glif</string>
  <key>Efcyr.loclBGR</key>
  <string>E_fcyr.loclB_G_R_.glif</string>
  <key>Elcyr</key>
  <string>E_lcyr.glif</string>
  <key>Elcyr.loclBGR</key>
  <string>E_lcyr.loclB_G_R_.glif</string>
  <key>Eng</key>
  <string>E_ng.glif</string>
  <key>Engecyr</key>
  <string>E_ngecyr.glif</string>
  <key>Ereversedcyr</key>
  <string>E_reversedcyr.glif</string>
  <key>Escyr</key>
  <string>E_scyr.glif</string>
  <key>Estailcyr</key>
  <string>E_stailcyr.glif</string>
  <key>Estailcyr.loclBSH</key>
  <string>E_stailcyr.loclB_S_H_.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Eukrcyr</key>
  <string>E_ukrcyr.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G.ss11</key>
  <string>G_.ss11.glif</string>
  <key>Gecyr</key>
  <string>G_ecyr.glif</string>
  <key>Gehookcyr</key>
  <string>G_ehookcyr.glif</string>
  <key>Germandbls</key>
  <string>G_ermandbls.glif</string>
  <key>Gestrokecyr</key>
  <string>G_estrokecyr.glif</string>
  <key>Geupcyr</key>
  <string>G_eupcyr.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>Hardcyr</key>
  <string>H_ardcyr.glif</string>
  <key>Hbar</key>
  <string>H_bar.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Icyr</key>
  <string>I_cyr.glif</string>
  <key>Izhitsacyr</key>
  <string>I_zhitsacyr.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>Kabashkcyr</key>
  <string>K_abashkcyr.glif</string>
  <key>Kacyr</key>
  <string>K_acyr.glif</string>
  <key>Katailcyr</key>
  <string>K_atailcyr.glif</string>
  <key>Kaverticalstrokecyr</key>
  <string>K_averticalstrokecyr.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>Ljecyr</key>
  <string>L_jecyr.glif</string>
  <key>Lslash</key>
  <string>L_slash.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Njecyr</key>
  <string>N_jecyr.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Obarcyr</key>
  <string>O_barcyr.glif</string>
  <key>Ocyr</key>
  <string>O_cyr.glif</string>
  <key>Ohm</key>
  <string>O_hm.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Pecyr</key>
  <string>P_ecyr.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Schwa</key>
  <string>S_chwa.glif</string>
  <key>Shacyr</key>
  <string>S_hacyr.glif</string>
  <key>Shchacyr</key>
  <string>S_hchacyr.glif</string>
  <key>Softcyr</key>
  <string>S_oftcyr.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Tbar</key>
  <string>T_bar.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>Tsecyr</key>
  <string>T_secyr.glif</string>
  <key>Tshecyr</key>
  <string>T_shecyr.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Ucyr</key>
  <string>U_cyr.glif</string>
  <key>Ustraightstrokecyr</key>
  <string>U_straightstrokecyr.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>W.ss09</key>
  <string>W_.ss09.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacyr</key>
  <string>Y_acyr.glif</string>
  <key>Yatcyr</key>
  <string>Y_atcyr.glif</string>
  <key>Ylongcyr</key>
  <string>Y_longcyr.glif</string>
  <key>Yucyr</key>
  <string>Y_ucyr.glif</string>
  <key>Yusbigcyr</key>
  <string>Y_usbigcyr.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zecyr</key>
  <string>Z_ecyr.glif</string>
  <key>Zetailcyr</key>
  <string>Z_etailcyr.glif</string>
  <key>Zhecyr</key>
  <string>Z_hecyr.glif</string>
  <key>Zhetailcyr</key>
  <string>Z_hetailcyr.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>a.sc</key>
  <string>a.sc.glif</string>
  <key>a.ss01</key>
  <string>a.ss01.glif</string>
  <key>a.ss02</key>
  <string>a.ss02.glif</string>
  <key>acutecomb</key>
  <string>acutecomb.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>apostrophemod</key>
  <string>apostrophemod.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>b.sc</key>
  <string>b.sc.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>becyr</key>
  <string>becyr.glif</string>
  <key>becyr.loclSRB</key>
  <string>becyr.loclS_R_B_.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>brevebelowcomb</key>
  <string>brevebelowcomb.glif</string>
  <key>brevecomb</key>
  <string>brevecomb.glif</string>
  <key>brevecomb-cy</key>
  <string>brevecomb-cy.glif</string>
  <key>brevecomb-cy.case</key>
  <string>brevecomb-cy.case.glif</string>
  <key>breveinvertedcomb</key>
  <string>breveinvertedcomb.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>bulletoperator</key>
  <string>bulletoperator.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>c.sc</key>
  <string>c.sc.glif</string>
  <key>c_t</key>
  <string>c_t.glif</string>
  <key>cedi</key>
  <string>cedi.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>checyr</key>
  <string>checyr.glif</string>
  <key>chekhakascyr</key>
  <string>chekhakascyr.glif</string>
  <key>chevertcyr</key>
  <string>chevertcyr.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>d.sc</key>
  <string>d.sc.glif</string>
  <key>d.ss03</key>
  <string>d.ss03.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>dcroat</key>
  <string>dcroat.glif</string>
  <key>decyr</key>
  <string>decyr.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>divisionslash</key>
  <string>divisionslash.glif</string>
  <key>djecyr</key>
  <string>djecyr.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dong</key>
  <string>dong.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>dotlessj</key>
  <string>dotlessj.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>e.sc</key>
  <string>e.sc.glif</string>
  <key>efcyr</key>
  <string>efcyr.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eight.dnom</key>
  <string>eight.dnom.glif</string>
  <key>eight.inferior</key>
  <string>eight.inferior.glif</string>
  <key>eight.numr</key>
  <string>eight.numr.glif</string>
  <key>eight.superior</key>
  <string>eight.superior.glif</string>
  <key>eight.tnum</key>
  <string>eight.tnum.glif</string>
  <key>elcyr</key>
  <string>elcyr.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emcyr</key>
  <string>emcyr.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>emptyset</key>
  <string>emptyset.glif</string>
  <key>encyr</key>
  <string>encyr.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>eng</key>
  <string>eng.glif</string>
  <key>engecyr</key>
  <string>engecyr.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>ereversedcyr</key>
  <string>ereversedcyr.glif</string>
  <key>estailcyr</key>
  <string>estailcyr.glif</string>
  <key>estimated</key>
  <string>estimated.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>eukrcyr</key>
  <string>eukrcyr.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>f.sc</key>
  <string>f.sc.glif</string>
  <key>f_f</key>
  <string>f_f.glif</string>
  <key>f_f_i</key>
  <string>f_f_i.glif</string>
  <key>f_f_l</key>
  <string>f_f_l.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>figuredash</key>
  <string>figuredash.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five.dnom</key>
  <string>five.dnom.glif</string>
  <key>five.inferior</key>
  <string>five.inferior.glif</string>
  <key>five.numr</key>
  <string>five.numr.glif</string>
  <key>five.superior</key>
  <string>five.superior.glif</string>
  <key>five.tnum</key>
  <string>five.tnum.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four.dnom</key>
  <string>four.dnom.glif</string>
  <key>four.inferior</key>
  <string>four.inferior.glif</string>
  <key>four.numr</key>
  <string>four.numr.glif</string>
  <key>four.superior</key>
  <string>four.superior.glif</string>
  <key>four.tnum</key>
  <string>four.tnum.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>franc</key>
  <string>franc.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>g.sc</key>
  <string>g.sc.glif</string>
  <key>gecyr</key>
  <string>gecyr.glif</string>
  <key>gecyr.loclSRB</key>
  <string>gecyr.loclS_R_B_.glif</string>
  <key>gehookcyr</key>
  <string>gehookcyr.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>gestrokecyr</key>
  <string>gestrokecyr.glif</string>
  <key>gestrokecyr.loclBSH</key>
  <string>gestrokecyr.loclB_S_H_.glif</string>
  <key>getailcyr</key>
  <string>getailcyr.glif</string>
  <key>geupcyr</key>
  <string>geupcyr.glif</string>
  <key>gravemod</key>
  <string>gravemod.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>guarani</key>
  <string>guarani.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>h.sc</key>
  <string>h.sc.glif</string>
  <key>hardcyr</key>
  <string>hardcyr.glif</string>
  <key>hbar</key>
  <string>hbar.glif</string>
  <key>hookabovecomb</key>
  <string>hookabovecomb.glif</string>
  <key>horncomb</key>
  <string>horncomb.glif</string>
  <key>hryvnia</key>
  <string>hryvnia.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>i.sc</key>
  <string>i.sc.glif</string>
  <key>iecyr</key>
  <string>iecyr.glif</string>
  <key>increment</key>
  <string>increment.glif</string>
  <key>indianrupee</key>
  <string>indianrupee.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>izhitsacyr</key>
  <string>izhitsacyr.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>j.sc</key>
  <string>j.sc.glif</string>
  <key>j.ss04</key>
  <string>j.ss04.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>k.sc</key>
  <string>k.sc.glif</string>
  <key>kabashkcyr</key>
  <string>kabashkcyr.glif</string>
  <key>kacyr</key>
  <string>kacyr.glif</string>
  <key>katailcyr</key>
  <string>katailcyr.glif</string>
  <key>kaverticalstrokecyr</key>
  <string>kaverticalstrokecyr.glif</string>
  <key>kgreenlandic</key>
  <string>kgreenlandic.glif</string>
  <key>kip</key>
  <string>kip.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>l.sc</key>
  <string>l.sc.glif</string>
  <key>l.ss05</key>
  <string>l.ss05.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>lira</key>
  <string>lira.glif</string>
  <key>litre</key>
  <string>litre.glif</string>
  <key>ljecyr</key>
  <string>ljecyr.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>m.sc</key>
  <string>m.sc.glif</string>
  <key>macronbelowcomb</key>
  <string>macronbelowcomb.glif</string>
  <key>macroncomb</key>
  <string>macroncomb.glif</string>
  <key>macronmod</key>
  <string>macronmod.glif</string>
  <key>manat</key>
  <string>manat.glif</string>
  <key>micro</key>
  <string>micro.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>minute</key>
  <string>minute.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>n.sc</key>
  <string>n.sc.glif</string>
  <key>naira</key>
  <string>naira.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nine.dnom</key>
  <string>nine.dnom.glif</string>
  <key>nine.inferior</key>
  <string>nine.inferior.glif</string>
  <key>nine.numr</key>
  <string>nine.numr.glif</string>
  <key>nine.superior</key>
  <string>nine.superior.glif</string>
  <key>nine.tnum</key>
  <string>nine.tnum.glif</string>
  <key>njecyr</key>
  <string>njecyr.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>numero</key>
  <string>numero.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>o.sc</key>
  <string>o.sc.glif</string>
  <key>obarcyr</key>
  <string>obarcyr.glif</string>
  <key>ocyr</key>
  <string>ocyr.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonekcomb</key>
  <string>ogonekcomb.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one.dnom</key>
  <string>one.dnom.glif</string>
  <key>one.inferior</key>
  <string>one.inferior.glif</string>
  <key>one.numr</key>
  <string>one.numr.glif</string>
  <key>one.tnum</key>
  <string>one.tnum.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>p.sc</key>
  <string>p.sc.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>pecyr</key>
  <string>pecyr.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>peseta</key>
  <string>peseta.glif</string>
  <key>peso</key>
  <string>peso.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>q.sc</key>
  <string>q.sc.glif</string>
  <key>q.ss06</key>
  <string>q.ss06.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>r.sc</key>
  <string>r.sc.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>ringcomb</key>
  <string>ringcomb.glif</string>
  <key>ringhalfleftmod</key>
  <string>ringhalfleftmod.glif</string>
  <key>ringhalfrightmod</key>
  <string>ringhalfrightmod.glif</string>
  <key>ruble</key>
  <string>ruble.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>s.sc</key>
  <string>s.sc.glif</string>
  <key>s_t</key>
  <string>s_t.glif</string>
  <key>schwa</key>
  <string>schwa.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven.dnom</key>
  <string>seven.dnom.glif</string>
  <key>seven.inferior</key>
  <string>seven.inferior.glif</string>
  <key>seven.numr</key>
  <string>seven.numr.glif</string>
  <key>seven.superior</key>
  <string>seven.superior.glif</string>
  <key>seven.tnum</key>
  <string>seven.tnum.glif</string>
  <key>shchacyr</key>
  <string>shchacyr.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>six.dnom</key>
  <string>six.dnom.glif</string>
  <key>six.inferior</key>
  <string>six.inferior.glif</string>
  <key>six.numr</key>
  <string>six.numr.glif</string>
  <key>six.superior</key>
  <string>six.superior.glif</string>
  <key>six.tnum</key>
  <string>six.tnum.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>softcyr</key>
  <string>softcyr.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>strokeshortcomb</key>
  <string>strokeshortcomb.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>t.sc</key>
  <string>t.sc.glif</string>
  <key>t.ss07</key>
  <string>t.ss07.glif</string>
  <key>tbar</key>
  <string>tbar.glif</string>
  <key>tenge</key>
  <string>tenge.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three.dnom</key>
  <string>three.dnom.glif</string>
  <key>three.inferior</key>
  <string>three.inferior.glif</string>
  <key>three.numr</key>
  <string>three.numr.glif</string>
  <key>three.tnum</key>
  <string>three.tnum.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tildecomb</key>
  <string>tildecomb.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>tsecyr</key>
  <string>tsecyr.glif</string>
  <key>tshecyr</key>
  <string>tshecyr.glif</string>
  <key>tugrik</key>
  <string>tugrik.glif</string>
  <key>turkishlira</key>
  <string>turkishlira.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two.dnom</key>
  <string>two.dnom.glif</string>
  <key>two.inferior</key>
  <string>two.inferior.glif</string>
  <key>two.numr</key>
  <string>two.numr.glif</string>
  <key>two.tnum</key>
  <string>two.tnum.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>u.sc</key>
  <string>u.sc.glif</string>
  <key>u.ss08</key>
  <string>u.ss08.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>ustraightcyr</key>
  <string>ustraightcyr.glif</string>
  <key>ustraightstrokecyr</key>
  <string>ustraightstrokecyr.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>v.sc</key>
  <string>v.sc.glif</string>
  <key>vecyr</key>
  <string>vecyr.glif</string>
  <key>vecyr.loclBGR</key>
  <string>vecyr.loclB_G_R_.glif</string>
  <key>verticallinelowmod</key>
  <string>verticallinelowmod.glif</string>
  <key>verticallinemod</key>
  <string>verticallinemod.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>w.sc</key>
  <string>w.sc.glif</string>
  <key>w.ss09</key>
  <string>w.ss09.glif</string>
  <key>won</key>
  <string>won.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>x.sc</key>
  <string>x.sc.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>y.sc</key>
  <string>y.sc.glif</string>
  <key>y.ss10</key>
  <string>y.ss10.glif</string>
  <key>yacyr</key>
  <string>yacyr.glif</string>
  <key>yatcyr</key>
  <string>yatcyr.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>ylongcyr</key>
  <string>ylongcyr.glif</string>
  <key>yucyr</key>
  <string>yucyr.glif</string>
  <key>yucyr.loclBGR</key>
  <string>yucyr.loclB_G_R_.glif</string>
  <key>yusbigcyr</key>
  <string>yusbigcyr.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>z.sc</key>
  <string>z.sc.glif</string>
  <key>zecyr</key>
  <string>zecyr.glif</string>
  <key>zecyr.loclBGR</key>
  <string>zecyr.loclB_G_R_.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero.dnom</key>
  <string>zero.dnom.glif</string>
  <key>zero.inferior</key>
  <string>zero.inferior.glif</string>
  <key>zero.numr</key>
  <string>zero.numr.glif</string>
  <key>zero.superior</key>
  <string>zero.superior.glif</string>
  <key>zero.tnum</key>
  <string>zero.tnum.glif</string>
  <key>zetailcyr</key>
  <string>zetailcyr.glif</string>
  <key>zhecyr</key>
  <string>zhecyr.glif</string>
  <key>zhecyr.loclBGR</key>
  <string>zhecyr.loclB_G_R_.glif</string>
  <key>zhetailcyr</key>
  <string>zhetailcyr.glif</string>
</dict>
</plist>
